<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-inline">
                <input name="i_name" value="{$Think.get.i_name|default=''}" placeholder="请输入项目名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作账户</label>
            <div class="layui-input-inline">
                <input name="u_phone" value="{$Think.get.u_phone|default=''}" placeholder="请输入操作账户" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">详情</label>
            <div class="layui-input-inline">
                <input name="i_reason" value="{$Think.get.i_reason|default=''}" placeholder="请输入详情（模糊搜索）" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">流水时间</label>
            <div class="layui-input-inline">
                <input data-date-range name="i_time" value="{$Think.get.i_time|default=''}" placeholder="请选择流水时间" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">账单类型</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="i_type">
                    {foreach [''=>'- 全部类型 -','1'=>'收入','2'=>'支出'] as $k=>$v}
                    <!--{eq name='Think.get.i_type' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">交易类型</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="trade_type">
                    {foreach [''=>'全部类型 -','1'=>'资产','2'=>'余额'] as $k=>$v}
                    <!--{eq name='Think.get.trade_type' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </div>
        </div>
         <div class="layui-form-item layui-inline">
            <label class="layui-form-label">身份</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="is_sf">
                  {foreach ['0'=>'真实账号','1'=>'一级内部账号','2'=>'二级内部账号'] as $k=>$v}
                    <!--{eq name='Think.get.is_sf' value='$k.""'}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/eq}-->
                    {/foreach}
                </select>
            </div>
        </div>
           
        <div class="layui-form-item layui-inline" style="margin-right: 20px">
            <span class="color-desc font-s14">总收入：<span class="color-red">{$total_income}</span></span>
        </div>
        <div class="layui-form-item layui-inline" style="margin-right: 20px">
            <span class="color-desc font-s14">总支出 ：<span class="color-red">{$total_expend}</span></span>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
        
    </form>
    <script>form.render()</script>
</fieldset>