{extend name='admin@main'}

{block name="button"}
{if auth("admin/member_grade/add")}
<button data-modal='{:url("add")}' data-title="添加等级" class='layui-btn layui-btn-sm layui-btn-primary'>添加等级</button>
{/if}
<!--{if auth("admin/member_grade/remove")}-->
<!--<button data-action='{:url("remove")}' data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除等级</button>-->
<!--{/if}-->
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='member_grade/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
<!--            <th class='list-table-sort-td'>-->
<!--                <button type="button" data-reload class="layui-btn layui-btn-xs">排序刷新</button>-->
<!--            </th>-->
            <th class='text-left nowrap' width="10%">图标</th>
            <th class='text-left nowrap' width="30%">名称</th>
            <th class='text-left nowrap' width="15%">直推会员人数</th>
            <th class='text-left nowrap' width="15%">直推一级团长数</th>
            <th class='text-left nowrap' width="15%">团队奖</th>
            <th class='text-left nowrap' width="15%">升级是否赠送</th>
            <th class='text-left nowrap' width="15%">多少代(n则为无限代)</th>
            <th class='text-left nowrap' width="15%">累计投资</th>
            <th class='text-left nowrap' width="15%">奖励金额</th>
            <th class='text-left nowrap' width="15%">状态</th>
            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
<!--            <td class='list-table-sort-td'><input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input"></td>-->
            <td class='text-left nowrap'>
                <img src='{$vo.picture}' width="80" height="50" />
            </td>
            <td class='text-left' style="max-width: 250px;overflow: hidden;">
                {$vo.title|default='--'}<br>
            </td>

            <td class='text-left nowrap'>
                {$vo.recom_number|default='--'}<br>
            </td>
            <td>{$vo.recom_tz|default='--'}</td>
            <td>{$vo.poundage|default='--'}%</td>
            <td>
                
                {eq name='vo.give_status' value='1'}
                <span >不赠送</span>
                {else}
                <span class="color-green">赠送</span>
                {/eq}<br>
            </td>
            <td class='text-left nowrap'>
                {$vo.statistics|default='--'}<br>
            </td>
            <td class='text-left nowrap'>
                {$vo.all_activity|default='--'}<br>
            </td>
            <td class='text-left nowrap'>
                {$vo.give_price|default='--'}<br>
            </td>
            <td class='text-left' style="max-width: 250px;overflow: hidden;">
                {eq name='vo.status' value='1'}
                <span >启用</span>
                {else}
                <span class="color-green">禁用</span>
                {/eq}<br>
            </td>

            <td class='text-left nowrap'>

                <div class="nowrap margin-bottom-5">
                    {if auth("admin/member_grade/edit")}
                    <a data-dbclick class="layui-btn layui-btn-sm" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                    {else}
                    <a data-tips-text="您没有编辑项目的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">编 辑</a>
                    {/if}
                    <!--{if auth("admin/member_grade/remove")}-->
                    <!--<a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>-->
                    <!--{else}-->
                    <!--<a data-tips-text="您没有删除项目的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled" data-csrf="{:systoken('remove')}">删 除</a>-->
                    <!--{/if}-->

                </div>

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
