{extend name='admin@main'}
{block name="button"}
{if auth("add")}
<!--<button data-modal='{:url("add")}' data-title="添加银行卡" class='layui-btn layui-btn-sm'>添加银行卡</button>-->
<!--{/if}-->
<!--{if auth("remove")}-->
<!--<button data-action='{:url("remove")}' data-rule="id#{key}" data-csrf="{:systoken('remove')}" data-confirm="确定要删除这些记录吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除记录</button>-->
<!--{/if}-->
{/block}
{block name="content"}
<div class="think-box-shadow">
    {include file='login_log/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-center nowrap'>编号</th>
            <th class='text-center nowrap'>姓名</th>
            <th class="text-center nowrap">手机号</th>
            <th class="text-center nowrap">IP地址</th>
            <th class="text-center nowrap">地区</th>
            <th class="text-center nowrap">登录时间</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr {if condition="$vo.is_unusual eq 1"}style="color:red;"{/if}>
             <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-center nowrap'>
                {$vo.id|default='--'}
            </td>
            <td class='text-center nowrap'>
                {$vo.realname|default='--'}
            </td>
            <td class='text-center nowrap'>
                {$vo.mobile|default='--'}
            </td>
            <td class='text-center nowrap'>
                {$vo.ip|default='--'}
            </td>
            <td class='text-center nowrap'>
                {$vo.region|default='--'}
            </td>
            <td class='text-center nowrap'>
                {$vo.create_time|date='Y-m-d H:i:s'}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
